/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: #1c1c1c;
    z-index: 1000;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #ff4c4c;
  }
  
  /* Animation for Navbar */
  .Mynavbar {
    animation: slideDown 0.8s ease-in-out;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  