body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}
.light-mode {
  background-color: #858383;
  color: #d2d1d1;
}
p,
h5 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #d2d1d1;
}
#Mycard {
  width: 400px;
  height: 100px;
  animation: animated 4s ease-in-out;
  transition: height 0.3s ease; 
}

@keyframes animated {
  100% {
    width: 100%;
    height: 100px;

  }
}

#Mycard:hover {
  height: 198px; 
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: #1c1c1c;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff4c4c;
}

.sections {
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  margin-bottom: 10px;
}

.section .items {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.section .items div {
  flex: 0 0 150px;
  height: 200px;
  margin-right: 10px;
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}
.section .items div:hover {
  transform: scale(1.05);
  background-color: #484848;
}

.footer {
  background-color: #1c1c1c;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer div,
.footer a {
  margin: 5px;
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: #ff4c4c;
}
.section .items::-webkit-scrollbar {
  height: 8px;
}

.section .items::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.section .items::-webkit-scrollbar-track {
  background: #333;
}

/* have added the size of the slider*/
#customCarousel {
  max-width: 500px;
  margin: auto;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}
